@font-face {
  font-family: "TT Trailers Medium";
  src: url("../fonts/TT-Trailers-Medium/TTTrailers-Medium.woff2") format("woff2"), url("../fonts/TT-Trailers-Medium/TTTrailers-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TT Trailers Bold';
  src: url("../fonts/TT-Trailers-Bold/TTTrailers-Bold.woff2") format("woff2"), url("../fonts/TT-Trailers-Bold/TTTrailers-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Quicksand Bold';
  src: url("../fonts/Quicksand-Bold/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cyberthrone';
  src: url("../fonts/Cyberthrone/CyberthroneRegular.woff2") format("woff2"), url("../fonts/Cyberthrone/CyberthroneRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

:root {
  --material-red: #F2453D; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #F8F6ED; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

body {
  background-color: #F8F6ED;
  position: fixed;
  padding-top: 200px;
  color: #333; }

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; }

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
  z-index: 1000; }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  z-index: 1000; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

#sbl-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: absolute;
  width: 100%;
  top: 0; }

#sbl-logo {
  margin-left: 10px; }
  @media (min-width: 768px) {
    #sbl-logo {
      max-width: 60px; } }
  @media (min-width: 1200px) {
    #sbl-logo {
      max-width: 79px; } }
  @media (min-width: 1367px) {
    #sbl-logo {
      max-width: 79px; } }
  #sbl-logo img {
    width: 100%; }

#sbl-nav {
  display: table; }

#menu-menu-top {
  display: inline-block;
  margin: 0 10px 0 0;
  list-style: none; }
  #menu-menu-top > .menu-item {
    padding-bottom: 10px; }
  #menu-menu-top .menu-item {
    float: left;
    margin-left: 20px;
    font-size: 24px; }
    #menu-menu-top .menu-item a {
      text-decoration: none;
      color: #333; }
    #menu-menu-top .menu-item:hover > a {
      color: #A3967F;
      transition: ease-in-out 0.25s; }
  #menu-menu-top .current-menu-item > a {
    font-weight: bold;
    color: #A3967F; }
  #menu-menu-top .menu-item-has-children {
    position: relative; }
    #menu-menu-top .menu-item-has-children .sub-menu {
      display: inline-block;
      width: 220px;
      list-style: none;
      padding: 0 30px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      border: solid #333 3px;
      border-radius: 5px;
      visibility: hidden;
      z-index: -1;
      height: 0;
      overflow: hidden;
      transition: linear 0.25s; }
      #menu-menu-top .menu-item-has-children .sub-menu .menu-item {
        clear: both;
        margin-left: 0;
        font-weight: normal;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 0 10px 0; }
        #menu-menu-top .menu-item-has-children .sub-menu .menu-item a {
          display: block; }
        #menu-menu-top .menu-item-has-children .sub-menu .menu-item:not(:last-child) {
          border-bottom: solid 1px #333; }
    #menu-menu-top .menu-item-has-children:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      z-index: 99;
      height: 150px; }

.sbl-spotlight {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 200px; }
  .sbl-spotlight .sbl-image-box {
    position: relative;
    font-size: 90px; }
    @media (min-width: 1200px) {
      .sbl-spotlight .sbl-image-box {
        font-size: 60px; } }
    @media (min-width: 1367px) {
      .sbl-spotlight .sbl-image-box {
        font-size: 90px; } }
    .sbl-spotlight .sbl-image-box .sbl-image {
      max-width: 1000px;
      max-height: 1000px;
      border: solid 5px #333;
      overflow: hidden; }
      @media (min-width: 768px) {
        .sbl-spotlight .sbl-image-box .sbl-image {
          max-width: 600px;
          max-height: 600px; } }
      @media (min-width: 1200px) {
        .sbl-spotlight .sbl-image-box .sbl-image {
          max-width: 750px;
          max-height: 750px; } }
      @media (min-width: 1367px) {
        .sbl-spotlight .sbl-image-box .sbl-image {
          max-width: 1000px;
          max-height: 1000px; } }
      .sbl-spotlight .sbl-image-box .sbl-image img {
        width: 100%; }
    .sbl-spotlight .sbl-image-box .sbl-spotlight-content {
      position: absolute;
      font-family: "TT Trailers Bold", sans-serif;
      font-weight: bold;
      top: 190px;
      left: -250px; }
      @media (min-width: 768px) {
        .sbl-spotlight .sbl-image-box .sbl-spotlight-content {
          left: -130px; } }
      @media (min-width: 1200px) {
        .sbl-spotlight .sbl-image-box .sbl-spotlight-content {
          left: -165px; } }
      @media (min-width: 1367px) {
        .sbl-spotlight .sbl-image-box .sbl-spotlight-content {
          left: -250px; } }
      .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-category {
        font-size: 1em;
        color: #fff;
        padding: 10px 35px 0 35px;
        line-height: 1;
        border-radius: 5px;
        background-color: #333;
        display: table; }
        @media (min-width: 768px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-category {
            font-size: 0.5em;
            padding: 10px 20px 0 20px; } }
        @media (min-width: 1200px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-category {
            font-size: 1em;
            padding: 10px 22px 0 22px; } }
        @media (min-width: 1367px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-category {
            padding: 10px 35px 0 35px; } }
      .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-main-content {
        color: #333;
        font-size: 3em;
        line-height: 1; }
        @media (min-width: 768px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-main-content {
            font-size: 1.5em; } }
        @media (min-width: 1200px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-main-content {
            font-size: 3em; } }
      .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-sub-content {
        color: #333;
        font-size: 0.89em;
        text-align: right;
        line-height: 1;
        margin-top: -50px; }
        @media (min-width: 768px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-sub-content {
            font-size: 0.44em;
            margin-top: -25px; } }
        @media (min-width: 1200px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-sub-content {
            font-size: 0.89em;
            margin-top: -35px; } }
        @media (min-width: 1367px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-sub-content {
            margin-top: -50px; } }
      .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-btn-view-more {
        font-size: 0.56em;
        color: #333;
        border: solid 5px #333;
        border-radius: 5px;
        line-height: 1;
        padding: 5px 35px 7px 35px;
        background-color: white;
        text-decoration: none;
        display: table;
        margin-top: 20px; }
        @media (min-width: 768px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-btn-view-more {
            font-size: 0.4em;
            padding: 10px 10px 7px 10px; } }
        @media (min-width: 1200px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-btn-view-more {
            font-size: 0.56em;
            padding: 10px 25px 7px 25px; } }
        @media (min-width: 1367px) {
          .sbl-spotlight .sbl-image-box .sbl-spotlight-content .sbl-btn-view-more {
            padding: 10px 25px 7px 25px; } }

#sbl-dashed-line {
  width: 90%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  background-image: url("../images/dashed-line.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

#sbl-feature-title {
  font-family: "Quicksand Bold", sans-serif;
  font-size: 90px;
  margin-left: 180px; }
  @media (min-width: 768px) {
    #sbl-feature-title {
      margin-left: 50px;
      font-size: 70px; } }
  @media (min-width: 1200px) {
    #sbl-feature-title {
      margin-left: 65px;
      font-size: 90px; } }
  @media (min-width: 1367px) {
    #sbl-feature-title {
      margin-left: 125px;
      font-size: 90px; } }
  #sbl-feature-title .sbl-title-1 {
    line-height: 1; }
  #sbl-feature-title .sbl-title-2 {
    line-height: 1;
    margin-bottom: 60px; }
    #sbl-feature-title .sbl-title-2 .sbl-love {
      font-family: "Cyberthrone", sans-serif;
      font-size: 120px;
      color: var(--material-red); }
      @media (min-width: 768px) {
        #sbl-feature-title .sbl-title-2 .sbl-love {
          font-size: 90px; } }
      @media (min-width: 1200px) {
        #sbl-feature-title .sbl-title-2 .sbl-love {
          font-size: 120px; } }
      @media (min-width: 1367px) {
        #sbl-feature-title .sbl-title-2 .sbl-love {
          font-size: 120px; } }

.sbl-feature-list {
  margin-bottom: 200px; }

.sbl-feature-slider {
  width: 90%;
  margin: 0 auto; }
  .sbl-feature-slider .sbl-slider-item {
    width: 500px;
    height: 600px;
    background-color: #E0D4C5;
    border: solid #333 3px; }
    .sbl-feature-slider .sbl-slider-item .sbl-feature-img {
      width: 250px;
      height: 250px;
      margin: 35px auto 35px auto; }
      .sbl-feature-slider .sbl-slider-item .sbl-feature-img img {
        max-width: 250px;
        max-height: 250px; }
    .sbl-feature-slider .sbl-slider-item .sbl-item-category {
      height: 65px;
      width: 170px;
      background-color: #333;
      border-radius: 5px;
      margin: 0 auto 0 auto;
      text-align: center;
      color: white;
      font-family: "TT Trailers Bold", sans-serif;
      font-size: 50px;
      line-height: 65px; }
    .sbl-feature-slider .sbl-slider-item .sbl-item-title {
      color: #333;
      font-family: "TT Trailers Bold", sans-serif;
      font-size: 90px;
      line-height: 117px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 auto 0 auto; }
    .sbl-feature-slider .sbl-slider-item .sbl-item-price {
      color: #333;
      font-family: "TT Trailers Medium", sans-serif;
      font-size: 60px;
      line-height: 78px;
      margin: 0 auto 0 auto;
      text-align: center;
      letter-spacing: 0.1em; }
  .sbl-feature-slider .slick-prev:before, .sbl-feature-slider .slick-next:before {
    color: #333;
    font-size: 35px; }
  .sbl-feature-slider .slick-prev {
    left: -50px; }
  .sbl-feature-slider .slick-next {
    right: -35px; }

.slick-slide {
  margin: 0 10px; }

.sbl-footer .sbl-footer-info {
  margin-bottom: 50px; }
  .sbl-footer .sbl-footer-info .sbl-footer-newsletter .sbl-newsletter-title {
    font-family: "Quicksand Bold", sans-serif;
    font-size: 25px;
    text-transform: uppercase; }
  .sbl-footer .sbl-footer-info .sbl-footer-newsletter .sbl-newsletter-icon i {
    font-size: 70px; }
  .sbl-footer .sbl-footer-info .sbl-footer-others .sbl-footer-others-title {
    font-family: "Quicksand Bold", sans-serif;
    font-size: 25px;
    text-transform: uppercase; }
  .sbl-footer .sbl-footer-info .sbl-footer-others .sbl-footer-others-content {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    text-transform: uppercase; }

.sbl-footer .sbl-discount p {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  text-transform: uppercase; }
  .sbl-footer .sbl-discount p span {
    font-family: "Quicksand Bold", sans-serif; }

.sbl-footer .sbl-footer-bottom {
  margin-bottom: 20px; }
  .sbl-footer .sbl-footer-bottom .sbl-footer-email .sbl-email-block {
    width: 75%;
    display: inline-block;
    position: relative; }
    .sbl-footer .sbl-footer-bottom .sbl-footer-email .sbl-email-block input {
      font-family: "Quicksand", sans-serif;
      height: 80px;
      width: 100%;
      background: none;
      border: solid 1px #333;
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 120px;
      font-size: 25px; }
    .sbl-footer .sbl-footer-bottom .sbl-footer-email .sbl-email-block button {
      font-family: "Quicksand Bold", sans-serif;
      font-size: 25px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      background: none;
      width: 120px;
      border: none; }
  .sbl-footer .sbl-footer-bottom .sbl-footer-copyright {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center; }
    .sbl-footer .sbl-footer-bottom .sbl-footer-copyright p {
      margin: 0; }

.sbl-spotlight-details-header {
  font-family: "TT Trailers Bold", sans-serif;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .sbl-spotlight-details-header {
      max-width: 600px;
      font-size: 50px; } }
  @media (min-width: 1200px) {
    .sbl-spotlight-details-header {
      max-width: 750px;
      font-size: 80px; } }
  @media (min-width: 1367px) {
    .sbl-spotlight-details-header {
      max-width: 1000px;
      font-size: 90px; } }
  .sbl-spotlight-details-header .sbl-details-box {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    .sbl-spotlight-details-header .sbl-details-box .sbl-btn-back {
      color: #333;
      border: solid 5px #333;
      border-radius: 5px;
      line-height: 1;
      background-color: white;
      text-decoration: none;
      display: inline-block;
      margin-top: 20px;
      z-index: 98; }
      @media (min-width: 768px) {
        .sbl-spotlight-details-header .sbl-details-box .sbl-btn-back {
          font-size: 0.8em;
          padding: 5px 10px 3px 10px; } }
      @media (min-width: 1200px) {
        .sbl-spotlight-details-header .sbl-details-box .sbl-btn-back {
          font-size: 0.56em;
          padding: 10px 25px 7px 25px; } }
      @media (min-width: 1367px) {
        .sbl-spotlight-details-header .sbl-details-box .sbl-btn-back {
          font-size: 0.56em;
          padding: 10px 30px 3px 30px; } }
  .sbl-spotlight-details-header .sbl-details-category {
    color: #fff;
    line-height: 1;
    border-radius: 5px;
    background-color: #333;
    display: inline-block;
    margin-left: 20px; }
    @media (min-width: 768px) {
      .sbl-spotlight-details-header .sbl-details-category {
        font-size: 1em;
        padding: 10px 20px 5px 20px; } }
    @media (min-width: 1200px) {
      .sbl-spotlight-details-header .sbl-details-category {
        font-size: 1em;
        padding: 10px 22px 0 22px; } }
    @media (min-width: 1367px) {
      .sbl-spotlight-details-header .sbl-details-category {
        font-size: 1em;
        padding: 10px 35px 0 35px; } }
  .sbl-spotlight-details-header .sbl-details-title {
    font-size: 3em;
    line-height: 1; }
  .sbl-spotlight-details-header .sbl-details-code {
    font-family: "TT Trailers Medium", sans-serif;
    font-size: 0.89em;
    line-height: 1;
    margin-top: -55px; }
    @media (min-width: 768px) {
      .sbl-spotlight-details-header .sbl-details-code {
        margin-top: -35px; } }
    @media (min-width: 1200px) {
      .sbl-spotlight-details-header .sbl-details-code {
        margin-top: -55px; } }
    @media (min-width: 1367px) {
      .sbl-spotlight-details-header .sbl-details-code {
        margin-top: -55px; } }
  .sbl-spotlight-details-header .sbl-details-images {
    font-size: 90px;
    border: solid 5px #333; }
    .sbl-spotlight-details-header .sbl-details-images img {
      width: 100%; }
  .sbl-spotlight-details-header .sbl-details-thumbnail {
    overflow: hidden;
    border: solid 5px #333; }
    .sbl-spotlight-details-header .sbl-details-thumbnail img {
      width: 100%; }
  .sbl-spotlight-details-header .slider-for {
    margin-bottom: 35px; }
  .sbl-spotlight-details-header .slider-nav {
    margin-bottom: 75px; }
  .sbl-spotlight-details-header .slick-prev:before, .sbl-spotlight-details-header .slick-next:before {
    color: #333;
    font-size: 35px; }
  .sbl-spotlight-details-header .slick-prev {
    left: -50px; }
  .sbl-spotlight-details-header .slick-next {
    right: -35px; }
  .sbl-spotlight-details-header .sbl-details-price {
    font-family: "TT Trailers Medium", sans-serif;
    font-size: 1.34em;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1; }

.sbl-details-content {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  padding: 55px;
  background: #FFFFFF;
  border: 5px solid #000000;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .sbl-details-content {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .sbl-details-content {
      max-width: 1250px; } }
  @media (min-width: 1367px) {
    .sbl-details-content {
      max-width: 1500px; } }

.sbl-mb-50 {
  margin-bottom: 50px; }
