@font-face {
    font-family: 'Cyberthrone';
    src: url('CyberthroneRegular.woff2') format('woff2'),
        url('CyberthroneRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

