@font-face {
    font-family: 'TT Trailers';
    src: url('TTTrailers-Medium.woff2') format('woff2'),
        url('TTTrailers-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

